/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

aside {
    width: 50%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 3px solid transparent;
     -moz-border-image: -moz-linear-gradient(top, #2a4f85 0%, #8e0e4b 100%);
	  -webkit-border-image: -webkit-linear-gradient(top, #2a4f85 0%, #8e0e4b 100%);
	  border-image: linear-gradient(to bottom, #2a4f85 0%, #8e0e4b 100%);
}

.footer-container,
.main aside {
    
}

.header-container,
.footer-container,
.main aside {
	-webkit-box-shadow: inset 0 -15px 13px rgba(0,0,0,.12);
	-moz-box-shadow: inset 0 -15px 13px rgba(0,0,0,.12);
	box-shadow: inset 0 -15px 13px rgba(0,0,0,.12);
	background-image: -webkit-linear-gradient(-340deg, #c71469 5%, #00aeff);
	background-image: -moz-linear-gradient(-340deg, #00aeff 5%, #c71469);
	background-image: -o-linear-gradient(-340deg, #00aeff 5%, #c71469);
	background-image: -ms-linear-gradient(-340deg, #00aeff 5%, #c71469);
	background-image: linear-gradient(-340deg, #00aeff 5%, #c71469);
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-top:15px;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
   
    color: white;
  /*  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;*/
	background-color: rgba(0,0,0,.55);
	-webkit-box-shadow: 1px 0 rgba(255,255,255,.18), inset 1px 2px 3px rgba(0,0,0,.33);
	-moz-box-shadow: 1px 0 rgba(255,255,255,.18), inset 1px 2px 3px rgba(0,0,0,.33);
	box-shadow: 1px 0 rgba(255,255,255,.18), inset 1px 2px 3px rgba(0,0,0,.33);

}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: none;
    color:#6699ff;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;

}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
    padding-right: 42px;
    margin-top:20px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */



@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float:left;
        width: 40%;
        margin: 0 1.7%;
        margin-top: 18px;
        margin-bottom: 18px;
        padding: 14px 4%;
        text-decoration: none;

    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 40%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 18%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

form{
width:57%;
margin:2% 0%;
padding-left:30px;
padding-top:15px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(255,255,255,.53);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.31), inset 0 -6px 2px rgba(0,0,0,.33), inset 0 0 2px #fff;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.31), inset 0 -6px 2px rgba(0,0,0,.33), inset 0 0 2px #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.31), inset 0 -6px 2px rgba(0,0,0,.33), inset 0 0 2px #fff;
        background-image: -webkit-linear-gradient(126deg, #161616, #202020);
	background-image: -moz-linear-gradient(126deg, #161616, #202020);
	background-image: -o-linear-gradient(126deg, #161616, #202020);
	background-image: -ms-linear-gradient(126deg, #161616, #202020);
	background-image: linear-gradient(126deg, #161616, #202020);
        color:white;
        font-family: Lato;
}


input[type=submit]
{
        margin-bottom: 20px;
        width:89%;
        padding: 15px;
        -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: rgba(255,255,255,0);
	-webkit-box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	-moz-box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	border: solid 1px #120536;
        background-image: -webkit-linear-gradient(-340deg, #c71469 5%, #00aeff);
	background-image: -moz-linear-gradient(-340deg, #00aeff 5%, #c71469);
	background-image: -o-linear-gradient(-340deg, #00aeff 5%, #c71469);
	background-image: -ms-linear-gradient(-340deg, #00aeff 5%, #c71469);
	background-image: linear-gradient(-340deg, #00aeff 5%, #c71469);
        margin-bottom: 30px;
        color: aliceblue;
        font-size:15px;
        cursor:pointer;

}
input[type=reset]
{
        margin-bottom: 20px;
        width:89%;
        padding: 15px;
        -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: rgba(255,255,255,0);
	-webkit-box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	-moz-box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	border: solid 1px #120536;
        background-image: -webkit-linear-gradient(-340deg, #c71469 5%, #00aeff);
	background-image: -moz-linear-gradient(-340deg, #00aeff 5%, #c71469);
	background-image: -o-linear-gradient(-340deg, #00aeff 5%, #c71469);
	background-image: -ms-linear-gradient(-340deg, #00aeff 5%, #c71469);
	background-image: linear-gradient(-340deg, #00aeff 5%, #c71469);
        margin-bottom: 30px;
        color: aliceblue;
        font-size:15px;
        cursor:pointer;
}

textarea{
width:100%;
padding: 15px;
margin-top: 10px;
border:1px solid #7ac9b7;
border-radius:5px;
margin-bottom: 20px;
resize:none;
}
input[type=text],input[type="date"],input[type=url],textarea,input[type=email],input[type=password] {
        
        border: 0px solid;
	background-color: #100f0f;
	height: 33px;
        width: 295px;
        -webkit-box-shadow: 1px 1px rgba(255,255,255,.12), inset 1px 2px 3px rgba(0,0,0,.52);
	-moz-box-shadow: 1px 1px rgba(255,255,255,.12), inset 1px 2px 3px rgba(0,0,0,.52);
	box-shadow: 1px 1px rgba(255,255,255,.12), inset 1px 2px 3px rgba(0,0,0,.52);
}

input[type=submit]:hover{
        color:#ccccff;
}

input[type=reset]:hover{
        color:#ccccff;
        margin-bottom: 20px;
        width:89%;
        padding: 15px;
        -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: rgba(255,255,255,0);
	-webkit-box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	-moz-box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	border: solid 1px #120536;
        background-image: -webkit-linear-gradient(-340deg, #006999 5%, #9e3467);
	background-image: -moz-linear-gradient(-340deg, #006999 5%, #9e3467);
	background-image: -o-linear-gradient(-340deg, #006999 5%, #9e3467);
	background-image: -ms-linear-gradient(-340deg, #006999 5%, #9e3467);
	background-image: linear-gradient(-340deg, #006999 5%, #9e3467);
        margin-bottom: 30px;
        color: aliceblue;
        font-size:15px;
        cursor:pointer;
}

input[type=submit]:hover{
        color:#ccccff;
        margin-bottom: 20px;
        width:89%;
        padding: 15px;
        -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: rgba(255,255,255,0);
	-webkit-box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	-moz-box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	box-shadow: 0 3px 1px rgba(0,0,0,.45), inset 0 -7px 5px rgba(0,0,0,.12), inset 0 0 3px rgba(0,26,125,.6);
	border: solid 1px #120536;
        background-image: -webkit-linear-gradient(-340deg, #006999 5%, #9e3467);
	background-image: -moz-linear-gradient(-340deg, #006999 5%, #9e3467);
	background-image: -o-linear-gradient(-340deg, #006999 5%, #9e3467);
	background-image: -ms-linear-gradient(-340deg, #006999 5%, #9e3467);
	background-image: linear-gradient(-340deg, #006999 5%, #9e3467);
        margin-bottom: 30px;
        color: aliceblue;
        font-size:15px;
        cursor:pointer;
}

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#menu {
    display:none;
    
}

#sousmenu {
    color:white;
    font-size: 15px;
    padding-left: 25px;
}


#menu li a {
    color:white;
}

#logo {
max-width: 100%;
height: auto !important;
}